/*footer.css*/

/*---------------------底部footer  开始*/
    .footer {
        height: 220px;
        padding-top: 50px;
    }
    .foot-ul1 {
        width: 748px;
        height: 21px;
        margin: 0 auto;
    }
    .foot-ul1 li {
        width: 100px;
        height: 21px;
        line-height: 21px;
        float: left;
        font-size: 14px;
        font-family: "microsoft";
        text-align: center;
    }
    .foot-ul1 li a {
        color: #656565;
    }
    .foot-ul1 .li2,.foot-ul1 .li4,.foot-ul1 .li6 {
        border-left: 1px solid #656565;
        border-right: 1px solid #656565;
    }
    .footer .footer-p1 {
        width: 451px;
        height: 19px;
        font-size: 12px;
        color: #656565;
        font-family: "microsoft";
        margin: 0 auto;
        margin-top: 18px;
    }
    .footer .footer-p2 {
        width: 540px;
        height: 19px;
        font-size: 12px;
        color: #656565;
        font-family: "microsoft";
        margin: 0 auto;
        margin-top: 10px;
    }
    .footer .footer-gongan {
        width: 1200px;
        height: 44px;
        margin-top: 18px;
        border-top: 1px solid #D5E3EB;
        border-bottom: 1px solid #D5E3EB;
    }
    .footer-gongan .footer-ul2 {
        width: 1048px;
        height: 44px;
        margin: 0 auto;
    }
    .footer-gongan .footer-ul2 li {
        width: 166px;
        height: 22px;
        float: left;
        font-size: 12px;
        font-family: "microsoft";
        margin-top: 15px;
        margin-right: 30px;
        position: relative;
    }
    .footer-gongan .footer-ul2 li a {
        color: #656565;
    }
    .footer-ul2 .footer-img1 img {
        width: 19px;
        height: 16px;
        position: absolute;
        top: -2px;
        left: 100px;
    }
    .footer-ul2 .footer-img1 p {
        width: 112px;
        height: 19px;
        position: absolute;
        top: 0;
        left: 122px;
    }
    .footer-ul2 .footer-img2 img {
        width: 18px;
        height: 19px;
        position: absolute;
        top: -5px;
        left: 94px;
    }
    .footer-ul2 .footer-img2 p {
        width: 100px;
        height: 19px;
        position: absolute;
        top: 0;
        left: 120px;
    }
    .footer-ul2 .footer-img3 img {
        width: 14px;
        height: 15px;
        position: absolute;
        top: 0px;
        left: 81px;
    }
    .footer-ul2 .footer-img3 p {
        width: 100px;
        height: 19px;
        position: absolute;
        top: 0;
        left:105px;
    }
    .footer-ul2 .footer-img4 img {
        width: 20px;
        height: 22px;
        position: absolute;
        top: -3px;
        left: 66px;
    }
    .footer-ul2 .footer-img4 p {
        width: 40px;
        height: 19px;
        position: absolute;
        top: 0;
        left:95px;
    }
    .footer-ul2 li.footer-img5 {
        width: 228px;
        margin-left: -4px;
    }
    .footer-ul2 li.footer-img5 img {
        margin-top: -5px;
    }
    .footer-ul2 .footer-img5 p {
        width: 180px;
        height: 19px;
        position: absolute;
        top: 0;
        left: 25px;
    }
    .footer-img {
        width: 350px;
        height: 50px;
        margin: 20px auto;
    }
    .footer-img .footer-span1 {
        width: 57px;
        height: 43px;
        margin-right: 45px;
    }
/*---------------------底部footer  end*/